/target/classes/*
/target/generated-sources/*
/target/generated-test-sources/*
/target/maven-archiver/*
/target/maven-status/*
/target/surefire-reports/*
/target/test-classes/*
/target/DiscordBotNFI-0.0.1.jar
/src/test/*